# Segmenting and Clustering Neighborhoods in Toronto

## Instructions
In this assignment, you will be required to explore, segment, and cluster the neighborhoods in the city of Toronto. However, unlike New York, the neighborhood data is not readily available on the internet. What is interesting about the field of data science is that each project can be challenging in its unique way, so you need to learn to be agile and refine the skill to learn new libraries and tools quickly depending on the project.

For the Toronto neighborhood data, a Wikipedia page exists that has all the information we need to explore and cluster the neighborhoods in Toronto. You will be required to scrape the Wikipedia page and wrangle the data, clean it, and then read it into a pandas dataframe so that it is in a structured format like the New York dataset.

Once the data is in a structured format, you can replicate the analysis that we did to the New York City dataset to explore and cluster the neighborhoods in the city of Toronto.

Your submission will be a link to your Jupyter Notebook on your Github repository.

In [1]:
import numpy as np
import pandas as pd

URL read with pandas and encoding 'Not assigned' values as NaN

In [2]:
url ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url, na_values= 'Not assigned')[0]

Filtering out the rows with NaN values on the column 'Borough':

In [3]:
df = df[df['Borough'].notna()]

Restarting the dataframe index:

In [4]:
df.reset_index(inplace=True, drop=True)

Grouping the data using the postal code:

In [5]:
df_grouped = df.groupby(by='Postal Code').first()
df_grouped.reset_index(inplace=True)
df_grouped.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

Replacing the 'Not assigned' value on Neighbourhood by the respective 'Borough':

In [6]:
df_grouped['Neighbourhood'].replace('Not assigned', df_grouped['Borough'])
df_grouped.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [7]:
df_grouped.shape

(103, 3)